.App {
  text-align: center;
}

body {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.menubar {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.menu-icons {
  display: flex;
  gap: 20px;
}
