.list-button {
  position: absolute;
  left: 1100px;
  top: 600px;
  width: 70px;
  height: 50px;
}

.plan-button {
  position: absolute;
  left: 1180px;
  top: 600px;
  width: 70px;
  height: 50px;
}