.slider-container {
  position: absolute;
  top: 200px;
  width: 80%;
  left: 125px;
  margin: 20px auto;
}

.slide-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* 슬라이더의 높이를 설정합니다 */
}

.slide-image {
  position: absolute;
  margin-left: 350px;
  width: 400px;
  height: 300px;
  object-fit: cover;
}