<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Simple Sidebar - Start Bootstrap Template</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<div class="d-flex" id="wrapper">
  <!-- Page content wrapper-->
  <div id="page-content-wrapper">
    <div id="layout-container"></div>
    <div class="header">
      <a class="header-item" href="/board/main">🏠 Home</a>
      <a class="header-item" href="#">여행지 정보</a>
      <a class="header-item" href="/board/list">리뷰 목록</a>
      <a class="header-item" href="#">마이 페이지</a>
      <div class="header-icons">
        <a href="profile.html"><img th:src="@{/assets/user.jpg}" alt="Profile" class="icon"></a>
        <a href="settings.html"><img th:src="@{/assets/setting.jpg}" alt="Settings" class="icon"></a>
      </div>
    </div>
    <!-- Page content-->
    <div class="container-fluid" layout:fragment="content">
    </div>
  </div>
</div>
</body>
</html>